// vARIABLES ---------------------------------//

@spaceBetweenNavItems: .7em;
@navItemsHeight: .75em;
@navButtonPaddingVertical: 1em;
@navButtonPaddingHorizontal: 1.5em;
@navButtonLeftMargin: 1em;
@bodyButtonPaddingVertical: 1em;
@bodyButtonPaddingHorizontal: 1.5em;
@subnavPaddingVertical: 1em;
@subnavPaddingHorizontal: 1.5em;
@accentColor: #ebc713;
@navUnderlineColor: #c5b358;
@socialButtonColor: #c5b358;
@folderNavTitleFontMobile: 23px;
//@accentColor: #98883a;
@navUnderlineColor: #c5b358;
@socialButtonColor: #98883a;
@folderNavTitleFontMobile: 23px;
@commentButtonColor: #98883a;
@sidebarButtonColor: #98883a;


// HEADER STUFF ----------------------------- //

// Fixed header

#header {
  position: fixed;
  opacity: .8;
}

// Header width

@media only screen and (min-width: 640px) and (max-width: 1020px) {
  #header {
  padding-left: @sitePadding;
  padding-right: @sitePadding;
}
}

.header-inner {
  // position:relative;
  padding: @headerVertPadding 0;
  //display: table;
  max-width: @pageWidth - 2*@sitePadding;
  //-webkit-box-sizing: border-box;
    // -moz-box-sizing: border-box;
      //    box-sizing: border-box;
}

// Index page width

.collection-type-index .page-content {
    max-width: @pageWidth - 2*@sitePadding;
    margin: 0 auto;
    padding-left: @sitePadding;
    padding-right: @sitePadding;
    padding-top: 3*@sitePadding;
    padding-bottom: 3*@sitePadding;
  }

// underline nav elements upon hover

#mainNavigation {
  .collection:hover, .index:hover, .external:not(:last-child):hover , {
  //text-decoration: underline;
  border-bottom: 2px solid @navUnderlineColor;
  //border-color: #ebc713;
  }
}

#mainNavigation {
.active {
border-bottom: 2px solid @navUnderlineColor;
}
}

.enable-nav-button #headerNav,
.enable-nav-button #sidecarNav {
  border-bottom: 0px solid !important;
}


// adjust padding of nav items

body:not(.force-mobile-nav) {
  .nav-wrapper {
    nav > div {
      > a, label, {
                  padding: @navItemsHeight @spaceBetweenNavItems;
                }
    }      
  }
}

// adjust padding of nav button

.enable-nav-button #headerNav nav>div:not(.folder):last-child a, .enable-nav-button #sidecarNav nav>div:not(.folder):last-child a {
    padding:  @navButtonPaddingVertical @navButtonPaddingHorizontal !important;
  }

// adjust left margin of nav button

.enable-nav-button #headerNav nav>div:not(.folder):last-child a {
  margin-left: @spaceBetweenNavItems;
}


// Change side of folder item in sidecar nav that "+" appears

#sidecarNav .folder label:after {
  content: '+';
  padding-left: 0.25em;
  width: 0.75em;
  display: inline-block;
}

#sidecarNav .folder .folder-toggle-box:checked ~ label:after {
  content:'–'
} /* NOTE: To get this to work, I rcommented out the the code from base.less right after the section called "folder indicator everywhere in mobile style nav" */


// Adjust height of subnav items

html:not(.touch-styles) body:not(.force-mobile-nav) .nav-wrapper .folder .subnav>div a {
  padding: @subnavPaddingVertical @subnavPaddingHorizontal;
}

// Change cursor for folders to be pointer and unclickable

#mainNavigation {
  .folder-toggle-label {
    cursor: default;
    pointer-events: none;
  }
}

// Nav arrow color tweak

#navArrowColor {
  color: @navColor;
}

#navArrowColor:hover {
  color: @navActiveColor;
}

// Social icon color

.social-icons-style-solid.social-icons-color-black .sqs-use--mask {
  fill: @socialButtonColor;
}

// Remove back-to-top empty space in footer of mobile (for some reason, this problem only appeared on mobile)
div.nav-wrapper.back-to-top-nav {
  display: none !important;
}


// Fix the default styling for folder side nav (a real hackjob, but got the job done)



@media only screen and (max-width: 640px) {

  #folderNav #folderNavToggle:checked {
      + .folder-nav-toggle-label {
        z-index: 0;
        &:after {
          content: '–';
        }
      }
      ~ .folder-nav {
        li:not(.active-link) {
          display: block;
            &.nav-section-label {
            display: block; 
            font-size: 23px !important;
          } 
        }
      }
    }


  #folderNav li:not(.filter), #categoryNav li:not(.filter) {
      display: block;
  }

  .category-nav .nav-section-label, .folder-nav .nav-section-label {
    font-size: @folderNavTitleFontMobile !important;
    font-weight: 300;
  }
  #folderNav li {
    padding-top: 0em;
    padding-bottom: 0em;
  }
  .folder-nav-toggle-label:after, .category-nav-toggle-label:after {
    content: none;
  }
  #folderNav #folderNavToggle:checked+.folder-nav-toggle-label:after {
    content: none;
  }
} 

/*
li.page-collection:hover {
    text-decoration: underline;
    color: #000 !important;
}
*/


// Reveal and style photos in blog list

.view-list .excerpt-thumb {
    display: block;
    height: 40vh;
    width: 100%;
    margin: 0 1em 2em 0;
    float: none;
    overflow: hidden;
}

// Change color of blog comment button

.squarespace-comments .comment-btn {
    background-color: @commentButtonColor !important;
}


.sqs-block-button .sqs-block-button-element--small, .sqs-block-button-element--medium, .sqs-block-button-element--large  {
    color: #fff;
    background-color: @sidebarButtonColor;
    border-color: #1f1f1f;
}

// logo wrapper underline

#logoWrapper:hover {
  border-bottom: 2px solid @navUnderlineColor;
}



